* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 h3.apiTitle{
    font-family: cursive;
    font-size: 28px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.apiParagraph {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}
.apiImage {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
span.apiSpan {
display: flex;
justify-content: center;
font-style: italic;
margin-bottom: 10px;
}
span.apiFlavor_profile {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 18px;
}
div.apiInfo {
    display: flex;
    justify-content: center;
}